fastapi
uvicorn[standard]
httpx

# (MỚI) Dùng cho Services
aiomysql             # <-- THAY THẾ CHO asyncmy
pydantic-settings    # Đọc file .env
passlib[bcrypt]
jinja2
passlib==1.7.4  
bcrypt==4.1.3   